# Ignore all .env files
.env

# Ignore the OpenVPN configuration
**/strongvpn.ovpn

# # Fichiers de données genéérés
# downloads/
# movies/
# series/
# cache/
# appdata/*

# Ignore the default nginx config but allow the template version
appdata/swag/nginx/site-confs/default.conf
!appdata/swag/nginx/site-confs/default.template
